body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.info {
    padding: 6px 8px;
    font-size: 1em;
    background: rgba(75, 75, 75, 0.8);
    color: whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 190px;
    text-align: center;
    height: 170px;
}

.info h3 {
    margin: 0;
    margin-bottom: 10px;
}

#ui-controls {
    height: 260px;
    padding: 15px 8px 15px 8px;
    background: rgba(75, 75, 75, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: whitesmoke;
}

.year-slider {
    height: auto;
    transform: rotateZ(90deg);
    float: left;
    margin-top: 90px;
    /*            padding-right: 80px;*/
}

#labels {}

#ui-controls .min {
    float: top;
}

#ui-controls .max {
    float: bottom;
}

label {
    font-size: 1.1em;
    font-weight: bold;
}

input[type="range"] {
    /*            width: 90%;*/
}

p.rangeLabel {
    font-size: 16px;
    line-height 0px;
    color: grey;
    margin: 0px;
}

p.rangeLabel:hover {
    cursor: pointer;
}

p.rangeLabel.selected {
    color: white;
}

#labels{
    margin-top: 30px;
}

h1 {
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 60px;
    padding: 8px 15px;
    margin: 0;
    color: whitesmoke;
    font-size: 1.5em;
    background: rgba(25, 25, 25, 0.8);
    border-radius: 5px;
}

.legend h3 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    color: whitesmoke;
    margin: 0;
}

.legend {
    padding: 6px 8px;
    font-size: 1em;
    background: rgba(75, 75, 75, 0.8);
    color: whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 160px;
}

.legend li {
    list-style-type: none;
    height: 22px;
}

.legend span {
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 10px;
}
